
<div class="col-md-12 column">
    <ul class="breadcrumb">
        <li><a href="#">主页</a></li>
        <li><a href="Nightdata/index.html">夜晚数据表管理</a></li>
        <li class="active">所有夜晚数据表查询</li>
    </ul>
    <!---内容页修改部分   -->
    <div id="Nightdata">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th v-for="n in thname" class="breadcrumb">{{n}}</th>
                </tr>
            </thead>
            <tbody v-for="ch in nightdata">
                <!-- '夜晚数据表ID','设备ID','图像名','室温','体温','采集时间','导入时间','操作' -->
                <tr class="success">
                    <td  class="default">{{ch.nightData_Id}}</td>
					 <td>{{ch.equipment_Id}}</td>
					 <td>{{ch.imageName}}</td>
					 <td>{{ch.indoorTemperature}}</td>
					 <td>{{ch.bodyTemperature}}</td>
					 <td>{{ch.acquisitionTimeString}}</td>
					 <td>{{ch.genTimeString}}</td>
                    <td> <a :href="'?actin=del&nightData_Id='+ch.nightData_Id">删除</a></td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination" >
            <li v-show="current != 1" @click="current-- && gotoPage(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="gotoPage(index)" :class="{'active':current == index}" :key="index">
              <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && gotoPage(current++)"><a href="#" >下一页</a></li>
        </ul>
      
        <!---内页修改结束 --> 
    </div>
</div>

<script>

 var th=new Array('夜晚数据表ID','设备ID','图像名','室温','体温','采集时间','导入时间','操作');
 

 var app = new Vue({
el: '#Nightdata',
data: {
	 nightdata: '' ,
	 thname:th,
	 current:1,
     showItem:5,
     allpage:13,
     formData:{
    	    pageNow:1,
    	    pageSize:5
     }
	},	
	computed:{
	    pages:function(){
	          var pag = [];
	            if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
	                 //总页数和要显示的条数那个大就显示多少条
	                 var i = Math.min(this.showItem,this.allpage);
	                 while(i){
	                     pag.unshift(i--);
	                 }
	             }else{ //当前页数大于显示页数了
	                 var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
	                     i = this.showItem;
	                 if( middle >  (this.allpage - this.showItem)  ){
	                     middle = (this.allpage - this.showItem) + 1
	                 }
	                 while(i--){
	                     pag.push( middle++ );
	                 }
	             }
	           return pag
	         }
	},
mounted: function() {
 this.getJsonInfo();
},
methods: {
 getJsonInfo: function() {
	 //var formData = JSON.stringify(this.page);
	// var para={'pageNow':this.formData.pageNow,'pageSize':this.formData.pageSize}
   this.$http.post('../Nightdata/selectNightdata',this.formData,{emulateJSON:true}).then(function(result){
    if(result.status){
    	this.nightdata = result.data.data;
    //	console.log(result.data);
    	var p=result.data.page;
    	if(p){
    		this.formData=result.data.page; 	
    		this.current=p.pageNow;
    		this.allpage=p.totalPageCount;
     	} 
    }
    else{
    	 showdanger("#Nightdata",result.data.msg);
    }
   }).catch(function(response){
	  showdanger("#Nightdata",response);
   });
 }, 
 gotoPage:function(index){
		    if(index == this.current) return;
		      this.current = index;
		      this.formData.pageNow=index;
		      this.getJsonInfo();
 }}
});



 </script>

